/.idea/
/2.jpg
/2_8ifTNQS.jpg
/2_B7ZLPO6.jpg
/2_DAmR3y6.jpg
/2_DDX8rkk.jpg
/2_lIriBev.jpg
/2_pgc32KD.jpg
/android.png
/android_J8rcbJZ.png
/android_P5EPHHI.png
/android_QYVcoqX.png
/android_VZQ1Lzg.png
/unnamed.png
/unnamed_3mvwubG.png
/unnamed_vPOrqNw.png
/db.json
/db.sqlite3
