{% load static%}



<div class="row question">
                    <div class="col-3">
                        <img src="{% static " ../../img/unnamed.png" %}">
                        <div class="row">
                            <div class="col-sm-3">
                                <button onclick="clickplus1()" class="btn btn-outline-dark likee"><h4>↑</h4></button>
                            </div>
                            <div class="col-sm-3">
                                <button onclick="clickminus1()" class="btn btn-outline-dark likee"><h4>↓</h4></button>
                            </div>
                            <div class="col-sm-3">
                                <p id="clicks1" class="btn btn-outline-dark likee">{{answer.votes}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 answer">
                        {{answer.description}}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Correct!</label>
                        </div>

                    </div>

                </div>