
{% if hot_questions.has_other_pages %}
  <ul class="pagination">
    {% if hot_questions.has_previous %}
    <li><a href="?page={{ hot_questions.previous_page_number }}" >&laquo;previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in hot_questions.paginator.page_range %}
      {% if hot_questions.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if hot_questions.has_next %}
      <li><a href="?page={{ hot_questions.next_page_number }}">&raquo;next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}