body > .container {
  padding: 60px 15px 0;
}

.question {
  border: 1px grey solid;
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFFFF0;
}
.question img{
  width:  167px;
  height: 167px;
  margin-top: 19px;
  margin-bottom: 14px;
}
.questione img {
  width:  167px;
  height: 167px;
  margin-top: 19px;
  margin-bottom: 14px;
}
.tags {
    padding-left: 100px;
}

.tag{
  margin-bottom: 60px;
}
.newq{
      margin-bottom: 32px;
}
.hot{
  font-size: 1.00rem;
}
.likee{
  width: fit-content;
}
.onequestion{
  padding-left: 50px;
    margin-bottom: 50px;
}
.likeone{
      margin-left: 75px;
    margin-top: 12px;
}
.border-line{
  border-bottom: 5px solid;
  margin-bottom: 9px;
}
.answer{
  padding-top: 17px;
}
.space{
  margin-bottom: 100px;

}
.logo{

  font-weight: 200;
  font-style: inherit;
}
.bodygrey {
    background-color: #DCDCDC;
}
.btn-lemon {
  color: #000;
  background-color: #FFF930;
  border-color: #FFF930;
}
.greynav-link {
  color : #1F1515;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.my_pag{
margin-top: 30px
}

