{% extends "include/base.html" %}
{% load static %}

                {% block content %}
                    {% include 'include/question.html' %}
                <hr class="my-4">
                {%for answer in page_obj %}
                {% if answer.question.id == question.id %}
                {% include 'include/answer.html' %}
                {% endif %}
                {% endfor %}

                <nav aria-label="Page navigation example">
                    {% include "include/pagination.html" %}
                </nav>

                <hr class="my-4">
                <form class="needs-validation" novalidate="">
                    <div>
                        <textarea class="textarea" placeholder="Your answer..."
                                  style="overflow-x: hidden !important; overflow-y: hidden; overflow-wrap: break-word !important; height: 100px; width: 720px;"></textarea>
                    </div>

                    <div>
                        <button class="w-100 btn btn-success btn-lg" type="submit">Answer</button>
                    </div>
                </form>
                {% endblock content %}


            </div>
            <div class="col-4 tags ">
                <div class="row tag"><h4 class="font-italic">Popular Tags</h4>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Python</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SQL</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Mail.ru</a></li>
                        <li><a class="nav-link" href="#">SQL</a></li>
                        <li><a class="nav-link" href="#">Google</a></li>
                        <li><a class="nav-link" href="#">Python</a></li>
                        <li><a class="nav-link" href="#">C++</a></li>
                        <li><a class="nav-link" href="#">Technopark</a></li>
                    </ul>
                </div>
                <div class="row tag"><h4 class="font-italic">Best members</h4>
                    <ul class="list-unstyled mb-0">
                        <li style="margin-bottom: 5px;"><a href="#">Peter</a></li>
                        <li style="margin-bottom: 5px;"><a href="#">Mark</a></li>
                        <li style="margin-bottom: 5px;"><a href="#">Maria</a></li>
                        <li style="margin-bottom: 5px;"><a href="#">C++</a></li>
                        </ol>
                </div>
            </div>
        </div>
</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="{% static " js/my.js" %}"></script>
<script src="{% static " js/bootstrap.min.js" %}"></script>
</body>
</html>
