{% extends "include/base.html" %}
{% load static %}



{% block navbar %}

<button type="button" class="btn btn-success" onclick="window.location.href = '{% url "ask" %}';"> ASK!</button>

<button type="button" class="btn btn-outline-light" onclick="window.location.href = '{% url "login" %}';"> Login</button>

{% endblock navbar %}

    
>
            {% block content %}
            <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Registration</h4>
        <form class="form-signin" >
          <div class="row g-3">
            <div class="col-12">
              <div class="mb-3 row">
                <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-10">
                  <input type="Login" class="form-control" id="inputLogin" placeholder="example_login">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" id="inputEmail" class="form-control" placeholder="email@example.com" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="nick" class="col-sm-2 col-form-label">NickName</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="nick" placeholder="username">
                </div>
              </div> 
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="******">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="RepPassword" class="col-sm-2 col-form-label">Repeat password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="RepPassword" placeholder="******">
                </div>
              </div>
              
              <div class="mb-3 row ">
                <label for="formFile" class="form-label">Upload avatar</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>    
            </div> 
          </div>

          

          

          

          

          <hr class="my-4">

          <button class="w-100 btn btn-success btn-lg" type="submit">Register!</button>
        </form>
      </div>
            {% endblock content %}

